.bg-orange {
  background-color: #f95a35;
}

.bg-green {
  background-color: rgb(2, 180, 135)
}

.tag {
  display: inline-block;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 12px;
  color: white;
  line-height: 24px;
}

.tag:hover {
  text-decoration: underline;
}

.tab-nav {
  display: flex;
  align-items: center;
  height: 48px;
  position: relative;
}

.tab-nav>span {
  font-size: 30px;
  color: #b7b7b7;
  font-weight: 700;
}

.tab-nav .hr-ver {
  height: .8em;
  border-left: 2px solid #b7b7b7;
  margin: 0 .8em;
}

.tab-nav .active {
  color: black;
}

.tab-nav .line {
  position: absolute;
  left: 0;
  top: 100%;
  border-bottom: 2px solid #3b66f5;
  transition: .2s;
}

.tab-nav .opt {
  cursor: pointer;
  transition: .2s;
  -webkit-user-select: none;
  user-select: none;
}

.tab-content h3 {
  color: #121217e6;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

hr {
  border-top: none;
  border-bottom: 1px solid #ccc;
  /* border-color: #fff; */
}

.lst-chapter {
  max-width: 46em;
}

.chapter-ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 30px;
}

.chapter-ol li {
  width: 435px;
  /* height: 48px; */
  background-color: #fbfbfb;
  border: 1px solid #eee;
  border-radius: 5px;
}

.chapter-ol li a {
  display: flex;
  flex-direction: column;
  /* height: 48px; */
  padding: 16px 10px;
}

.chapter-ol li a:hover {
  background-color: #efefef;
}

.chapter-ol li a strong {
  font-size: 16px;
  /* padding: 8px; */
  color: #121217e6;
  font-weight: 400;
}